<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>코퍼</string>
		<string>커퍼</string>
		<string>클립보드</string>
		<string>clipboard</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>Coffer</string>
	<key>CFBundleIdentifier</key>
	<string>com.jhaemin.coffer</string>
	<key>CFBundleName</key>
	<string>Coffer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/domus-apps/coffer/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>231/UKP6u5LElqtTkMp2TwNDsr83lQSxVCiJ4UUMR7I=</string>
</dict>
</plist>
